.piece_selected {
    background-color: grey;
}

.piece {
    position: absolute;
    width:106px;
    height:106px;   
    margin:1px;
    top:0;
    left:0;
}

.board{
    display: block;
    position: relative;
    margin: 0;
    
}

.row {
    margin: 0;
    border: 0px;
}

.cell {
    display: inline-block;
    position:relative;
    left:0px;
    top:0px;
    width:88px;
    height:88px;
    background-color: white;
    border: 1px solid grey;
    margin: 5px;
    font-size: 30px;
    padding: 10px;
    color:#D0D0D0
}

p {
    display: inline;
    position: static;
    margin:0;
}
