.piece_selected {
    background-color: grey;
}

.piece {
    position: relative;
}

.board{
    display: block;
    position: relative;
    margin: 0;
    font-size: 0;
    widows:1000px;
    height:1000px;
    
}

.row {
    margin: 0;
    border: 0px;
    font-size: 0;
    overflow: scroll;
}

.cell {
    display: inline-block;
    position:relative;
    font-size: 0;
    left:0px;
    top:0px;
    width:98px;
    height:98px;
    background-color: white;
    border: 1px solid grey;
    margin: 5px;
    overflow: scroll;
}